<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">

<link rel="apple-touch-icon" type="image/png" sizes="57x57" href="{{site.url}}/assets/logo.ico/apple-icon-57x57.png">
<link rel="apple-touch-icon" type="image/png" sizes="60x60" href="{{site.url}}/assets/logo.ico/apple-icon-60x60.png">
<link rel="apple-touch-icon" type="image/png" sizes="72x72" href="{{site.url}}/assets/logo.ico/apple-icon-72x72.png">
<link rel="apple-touch-icon" type="image/png" sizes="76x76" href="{{site.url}}/assets/logo.ico/apple-icon-76x76.png">
<link rel="apple-touch-icon" type="image/png" sizes="114x114" href="{{site.url}}/assets/logo.ico/apple-icon-114x114.png">
<link rel="apple-touch-icon" type="image/png" sizes="120x120" href="{{site.url}}/assets/logo.ico/apple-icon-120x120.png">
<link rel="apple-touch-icon" type="image/png" sizes="144x144" href="{{site.url}}/assets/logo.ico/apple-icon-144x144.png">
<link rel="apple-touch-icon" type="image/png" sizes="152x152" href="{{site.url}}/assets/logo.ico/apple-icon-152x152.png">
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{site.url}}/assets/logo.ico/apple-icon-180x180.png">
<link rel="icon" type="image/png" type="image/png" sizes="192x192"  href="{{site.url}}/assets/logo.ico/android-icon-192x192.png">
<link rel="icon" type="image/png" type="image/png" sizes="32x32" href="{{site.url}}/assets/logo.ico/favicon-32x32.png">
<link rel="icon" type="image/png" type="image/png" sizes="96x96" href="{{site.url}}/assets/logo.ico/favicon-96x96.png">
<link rel="icon" type="image/png" type="image/png" sizes="16x16" href="{{site.url}}/assets/logo.ico/favicon-16x16.png">
<link rel="manifest" href="{{site.url}}/assets/logo.ico/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!--[if IE]>
  <style>
    /* old IE unsupported flexbox fixes */
    .greedy-nav .site-title {
      padding-right: 3em;
    }
    .greedy-nav button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }
  </style>
<![endif]-->

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
